.inputContainer{
    display: flex;
    flex-direction: column;
    gap:4xp

    label{
        font-size: 14px;
        font-weight: 600;
    }

    input{
        padding: .6rem 1rem;
        border:  .5px solid grey;
        font-size: 14px;
        border-radius: 6px;
        transition-duration: .3s;
        outline: .5px solid transparent;

        &:focut{
            outline: 1.5px solid black;
        }
    }

}